.d-flex {
    display: flex;
    align-items: center;
}

.d-flex p {
    margin: 0 20px;
}

.info-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: fit-content;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.info-box p {
    margin: 0;
}