<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Exercise Finder</h1>
        <h5 class="author">By Dhruv Prakash</h5>
        
        <form id="searchForm" action="/search" method="get">
            <div class="form-group">
                <label for="query">Search Exercises:</label>
                <input type="text" id="query" name="query" class="form-control" placeholder="equipment, experience, muscle, etc." required>
            </div>
            <button type="submit" class="btn btn-success">Search</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>